<title>Kammavar USA</title>
<section id="app-contact" style="padding-top:100px;">
  
  <div class="section-content">
    <div style="font-size:30px; padding:50px 0px"><u>Contact Us</u></div>
      <div class="row contact-info" style="font-size:15px">
          <div class="col-md-4">
            <div class="contact-address">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h3>Address</h3>
              <address>60 Village Road, Kendall Park, New Jersey, USA</address>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="contact-phone">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <h3>Phone</h3>
              <p>+1 732 822 4702</p>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="contact-email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <h3>Email</h3>
              <p>kammavarusa@gmail.com</p>
            </div>
          </div>
  
        </div>
        <hr>
    <h1 class="section-header">Get in
      <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span>
    </h1>
    <h3>Please fill up the following details to address your concern</h3>
  </div>

  <div class="app-contact-section">
    <div class="container" style="margin-bottom:200px">
      <div style="width: 98%;display: flex;justify-content: center; color:green;font-size:25px" *ngIf="contactSuccess">
          Request was submitted Successfully!!!
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="Your Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="subject" id="subject" placeholder="Subject"  [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"/>
            <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
              <div *ngIf="f.subject.errors.required">Subject is required</div>
          </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" formControlName="message" rows="5"  placeholder="Message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
            <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
              <div *ngIf="f.message.errors.required">Message is required</div>
          </div>
          </div>
          <div class="text-center"><button type="submit" [disabled]="loading">Send Message</button></div>
        </form>
    </div>
  </div>



  <div class="container" *ngIf="showSpinner">
    <div class="row">
      <div class="animationload">
        <div class="osahanloading"></div>
      </div>
    </div>
  </div>
</section>