 <!--==========================
      Contact Section
    ============================-->
    <main id="main">
    <div id="contact" class="section-bg wow fadeInUp">
        <div class="container">
    
          <div class="section-header">
            <h3>Contact Us</h3>
            <p>Please fill up the following details to address you concern</p>
          </div>
    
          <div class="row contact-info">
    
            <div class="col-md-4">
              <div class="contact-address">
                <i class="ion-ios-location-outline"></i>
                <h3>Address</h3>
                <address>60 Village Road, Kendall Park, New Jersey, USA</address>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3>Phone Number</h3>
                <p><a href="tel:+155895548855">+1 732 822 4702</a></p>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="contact-email">
                <i class="ion-ios-email-outline"></i>
                <h3>Email</h3>
                <p><a href="kammavarusa@gmail.com">kammavarusa@gmail.com</a></p>
              </div>
            </div>
    
          </div>
    
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contactForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" formControlName="name" class="form-control" id="name" placeholder="Your Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" formControlName="email" id="email" placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="subject" id="subject" placeholder="Subject"  [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"/>
                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                  <div *ngIf="f.subject.errors.required">Subject is required</div>
              </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" formControlName="message" rows="5"  placeholder="Message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                  <div *ngIf="f.message.errors.required">Message is required</div>
              </div>
              </div>
              <div class="text-center"><button type="submit" [disabled]="loading">Send Message</button></div>
            </form>
          </div>
    
        </div>
  
      </div><!-- #contact -->
      </main>