<title>Kammavar USA</title>
  <div id="services">
    <header >
      <figure class="about-figure" style="margin: -10px 0 0rem;">
        <img style="width:100%" src="../../../assets/bg11.jpg" class="img-responsive" alt="about">
      </figure>
    </header>
  <div>
  <section *ngIf="user.firstName==undefined" id="service-to-action" style="background-image: url('../../assets/bg3.jpg');"
    class="wow fadeIn" style="padding-top:-30px">
      <div class="container text-center">
        <h3>Not a member?</h3>
        <p>Please join us today to get connected with fellow kammas.</p>
        <a class="cta-btn" routerLink="/register" >Register</a>
      </div>
    </section>

<div class="container" *ngIf="showSpinner">
    <div class="row">    
        <div class="animationload">
            <div class="osahanloading"></div>
        </div>
    </div>
</div>

<!-- 
<section class="features" id="features" >
    <div class="container">
        <div class="section-header wow fadeInUp">
            <h3>Services</h3>
           
          </div>

      <div class="row" >
        <div class="feature-col col-lg-6 col-xs-12 box wow bounceInUp">
          <div class="card card-block text-center zoom" (click)="redirect('education')"
          style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="margin:15px">
              <div class="feature-icon">
                <span class="fa fa-book"></span>
              </div>
            </div>
            <div>
              <h3>Education</h3>
              <p>The Educational Services comprises establishments that provide instruction and training in a wide variety of subjects.</p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-6 col-xs-12 box wow bounceInUp">
          <div class="card card-block text-center zoom" (click)="redirect('finance')"
          style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="margin:15px">
              <div class="feature-icon">
                <span class="fa fa-usd"></span>
              </div>
            </div>
            <div>
              <h3>Financial</h3>
              <p>An service acts a forum to convey the financial ideas like investment in cryptocurrency, share market, etc.</p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-6 col-xs-12 box wow bounceInUp">
          <div class="card card-block text-center zoom" (click)="redirect('employment')"
          style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="margin:15px">
              <div class="feature-icon">
                <span class="fa fa-handshake-o"></span>
              </div>
            </div>
            <div>
              <h3>Employment</h3>
              <p>An service that helps find jobs for persons seeking employment or assists employers in finding persons to fill positions that are open</p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-6 col-xs-12 box wow bounceInUp">
          <div class="card card-block text-center zoom" (click)="redirect('matrimonal')"
          style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="margin:15px">
              <div class="feature-icon">
                <span class="fa fa-users"></span>
              </div>
            </div>
            <div>
              <h3>Matrimonal</h3>
              <p>The matrimonal service acts as a forum for kammavar people to find brides and bride grooms in our community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  <section class="content-section" id="service" style="background:white; margin-top:2rem; margin-bottom:2rem;">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0"></h3>
        <h2 class="mb-5">SERVICES</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6" (click)="redirect('education')">
          <a class="service-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>EDUCATION</h2>
                <p class="mb-0">Provide's instruction and training in a wide variety of subjects</p>
              </span>
            </span>
            <img class="img-fluid" src="../../../assets/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6" (click)="redirect('finance')">
          <a class="service-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>FINANCIAL</h2>
                <p class="mb-0">Forum to convey the financial ideas like cryptocurrency, share market, etc.</p>
              </span>
            </span>
            <img class="img-fluid" src="../../../assets/portfolio-2.jpeg" alt="">
          </a>
        </div>
        <div class="col-lg-6" (click)="redirect('employment')">
          <a class="service-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>EMPLOYMENT</h2>
                <p class="mb-0">Helps to find jobs for persons seeking employment or assists employers.</p>
              </span>
            </span>
            <img class="img-fluid" src="../../../assets/portfolio-3.jpeg" alt="">
          </a>
        </div>
        <div class="col-lg-6" (click)="redirect('matrimonal')">
          <a class="service-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Matrimonal</h2>
                <p class="mb-0">Forum for members to find brides and bride grooms in our community</p>
              </span>
            </span>
            <img class="img-fluid" src="../../../assets/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>