.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 25px;
  margin-left:  25px;
  cursor: pointer;
}



/*  */
.features {
  padding-bottom: 45px;
  padding-top:30px;
}

.features h2 {
  color: #199EB8;
}

.feature-col {
  display: table;
  padding-bottom: 45px;
  /* padding-right:30px; */
}

.feature-col > div > div {
  display: table-cell;
  vertical-align: middle;
}

.feature-col > div > div:last-child {
  padding-left: 20px;
}

.feature-col .feature-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  background: #199EB8;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  display: inline-block;
}

.feature-col h3 {
  color: #199EB8;
  font-weight: bold;
}

.feature-col p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
}
a{
  cursor: pointer;
}
item:hover{
  cursor: pointer;
}
.zoom{
  transition: transform .2s;
}
.zoom:hover{
  transform: scale(1.03);
}