
  <div id="services" style="background-image: url('../../assets/login.jpg');">
    <header >
      <figure class="about-figure" style="margin: -10px 0 0rem;">
        <img style="width:100%" src="../../../assets/bg11.jpg" class="img-responsive" alt="about">
      </figure>
    </header>
  <div>
  <section id="service-to-action" style="background-image: url('../../assets/bg3.jpg');"
    class="wow fadeIn" style="padding-top:-30px">
      <div class="container text-center">
        <h3>Not a member?</h3>
        <p>Please join us today to get connected with fellow kammas.</p>
        <a class="cta-btn" routerLink="/register" >Register</a>
      </div>
    </section><!-- #call-to-action -->
      <!-- <div class="section-header wow fadeInUp">
      <h3>Services</h3>
     
    </div>

    <div class="service-list">

      <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
        <h4 class="title"><a (click)="redirect('education')">Education</a></h4>
        <p class="description">The Educational Services comprises establishments that provide instruction and training in a wide variety of subjects</p>
      </div>
      <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
        <h4 class="title"><a (click)="redirect('finance')">Financial</a></h4>
        <p class="description">An service acts a forum to convey the financial ideas like investment in cryptocurrency, share market, etc</p>
      </div>
      <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
        <h4 class="title"><a  (click)="redirect('employment')">Employment</a></h4>
        <p class="description">An service that helps find jobs for persons seeking employment or assists employers in finding persons to fill positions that are open</p>
      </div>
      <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
        <h4 class="title"><a (click)="redirect('matrimonal')">Matrimonal</a></h4>
        <p class="description">The matrimonal service acts as a forum for kammavar people to find brides and bride grooms in our community.</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
        <h4 class="title"><a href="">Immigration</a></h4>
        <p class="description">An service that helps to get ideas and clarrification related to immigration queries</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-people-outline"></i></div>
        <h4 class="title"><a href="">Charity/Funds</a></h4>
        <p class="description">The Charity service focuses on financial assistance. All financial assistance or support are purely based on donations from members</p>
      </div> 

    </div>

  </div>
</div> -->

<div class="container" *ngIf="showSpinner">
    <div class="row">    
        <div class="animationload">
            <div class="osahanloading"></div>
        </div>
    </div>
</div>


<section class="features" id="features" >
    <div class="container">
        <div class="section-header wow fadeInUp">
            <h3>Services</h3>
            <!-- <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p> -->
          </div>

      <div class="row" >
        <div class="feature-col col-lg-6 col-xs-12 box wow bounceInUp">
          <div class="card card-block text-center zoom" (click)="redirect('education')"
          style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="margin:15px">
              <div class="feature-icon">
                <span class="fa fa-book"></span>
              </div>
            </div>
            <div>
              <h3>Education</h3>
              <p>The Educational Services comprises establishments that provide instruction and training in a wide variety of subjects.</p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-6 col-xs-12 box wow bounceInUp">
          <div class="card card-block text-center zoom" (click)="redirect('finance')"
          style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="margin:15px">
              <div class="feature-icon">
                <span class="fa fa-usd"></span>
              </div>
            </div>
            <div>
              <h3>Financial</h3>
              <p>An service acts a forum to convey the financial ideas like investment in cryptocurrency, share market, etc.</p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-6 col-xs-12 box wow bounceInUp">
          <div class="card card-block text-center zoom" (click)="redirect('employment')"
          style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="margin:15px">
              <div class="feature-icon">
                <span class="fa fa-handshake-o"></span>
              </div>
            </div>
            <div>
              <h3>Employment</h3>
              <p>An service that helps find jobs for persons seeking employment or assists employers in finding persons to fill positions that are open</p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-6 col-xs-12 box wow bounceInUp">
          <div class="card card-block text-center zoom" (click)="redirect('matrimonal')"
          style="cursor:pointer; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="margin:15px">
              <div class="feature-icon">
                <span class="fa fa-users"></span>
              </div>
            </div>
            <div>
              <h3>Matrimonal</h3>
              <p>The matrimonal service acts as a forum for kammavar people to find brides and bride grooms in our community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>