

    <div class="bgimg-1" style="padding-top:500px;">
        <div class="caption">
          <span class="border">ABOUT US</span>
        </div>
      </div>
      
      <div style="color: #777;background-color:white;text-align:center;padding:3%;text-align: justify;">
        <h3 style="text-align:center; color:green">Kammavar USA</h3>
            <ul>
                <li> Kammavar USA Association Inc here in afterwards referred as KammavarUSA., is a registered 501(c)(3) community based Organization to provide services through social, cultural and charity work to all Tamil Nadu based Kammavar community in United States, Canada, India and worldwide.</li>
                <li>The Organization shall be charitable, non-political, non-profit, cultural and social organization to preserve and protect Tamil Nadu based Kammavar community ‘s heritage and culture for future generation , also to act upon concerning the welfare of community members. </li>
                <li>Any individual aged 18 or above living in US , originated from Tamil Nadu Kammavar community and their kids (at -least one parent has to be kammavar) can become the members of the Association. Each individual has to register in the Association Portal to become a member of the Association.</li>
                <li>The organization structure is purely based on volunteers under no circumstances the influences of any stream is encouraged. </li>
            </ul>
      </div>
      
      <div class="bgimg-2">
        <div class="caption" style="font-size:14px;color:yellow">
          <span class="border">We connect Tamilnadu based kammavar people in North America and Canada</span>
        </div>
      </div>
      
      <div style="position:relative;">
        <div style="color:#ddd;background-color:white;text-align:center;padding:5%;text-align: justify;">
          <!-- <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p> -->
          <div class="about-tile about-cols" id="about">
  
              <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                  <div class="img">
                    <img src="assets/about-mission.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Mission</a></h2>
                  <p>
                    To bring all kammas together in the most unexpected, surprising, and delightful ways possible. As it turns out, there are a lot more of us in United States and Canada than one would have imagined rethink this.
                  </p>
              
                </div>
              </div>
        
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                  <div class="img">
                    <img src="assets/about-plan.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="ion-ios-list-outline"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Plan</a></h2>
                  <p>
                    We will organize many events throughout the year to increase interactions between member families and establish a safe haven for every family to discuss any problems they require assistance with, which we will then provide.
                  </p>
                </div>
              </div>
        
              <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="assets/about-vision.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Vision</a></h2>
                  <p>
                    A unified family in which all members of our kammavar organization shall participate to help one another out with ease and certainty.
                  </p>
                  <br>
                  <br>
                </div>
              </div>
        
            </div>
          <!-- <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p> -->
          
        </div>
      </div>
      
      <div class="bgimg-3">
        <div class="caption">
          <span class="border">TIMELINE</span>
        </div>
      </div>
      
      <!-- <div style="position:relative;">
        <div style="color:black;background-color:rgb(29, 51, 73);text-align:center;padding:50px 80px;text-align: justify;">
            <div class="timeline">
                <div class="container-about left">
                    <div class="content">
                      <h4>June, 2018</h4>
                      <p>Kammavar USA has grandly organized first national convention </p>
                    </div>
                  </div>
                <div class="container-about right">
                  <div class="content">
                    <h4>January, 2018</h4>
                    <p>Kammavar USA was officially registered as Non-Profit Organization</p>
                  </div>
                </div>
                <div class="container-about left">
                    <div class="content">
                      <h4>October, 2017</h4>
                      <p>Kammavar USA's periodical eMagazine service was launched and by-laws are finalized</p>
                    </div>
                  </div>
                <div class="container-about right">
                  <div class="content">
                    <h4>July, 2017</h4>
                    <p>Kammavar USA's web portal and mobile application launched with several services</p>
                  </div>
                </div>
                <div class="container-about left">
                  <div class="content">
                    <h4>January, 2017</h4>
                    <p>Kammavar USA facebook group was created and connected around 1000+ members</p>
                  </div>
                </div>
          
              </div>
          
        </div>
      </div> -->
      <section id="timeline" class="row">
  
          <div class="tl-item col-md-4">
            
            <div class="tl-bg" style="background-image: url(https://placeimg.com/801/801/nature)"></div>
            
            <div class="tl-year">
              <p class="f2 heading--sanSerif">2016</p>
            </div>
        
            <div class="tl-content">
              <h1>Timeline 2016</h1>
              <ul>
                <li>Kammavar USA initiated the process of bringing all kamma people in North America under one roof</li>
                <li>Created number of Whats App group for each services to support tamilnadu kamma's</li>
              </ul>
            </div>
        
          </div>
        
          <div class="tl-item col-md-4">
            
            <div class="tl-bg" style="background-image: url(https://placeimg.com/803/803/nature)"></div>
            
            <div class="tl-year">
              <p class="f2 heading--sanSerif">2017</p>
            </div>
        
            <div class="tl-content">
              <h1 class="f3 text--accent ttu">Timeline 2017</h1>
              <ul>
                <li>Kammavar USA facebook group was created and connected around 1000+ members</li>
                <li>Kammavar USA's web portal and mobile application launched with several services</li>
                <li>Kammavar USA's periodical eMagazine service was launched and by-laws are finalized</li>
              </ul>
            </div>
        
          </div>
        
          <div class="tl-item col-md-4">
            
            <div class="tl-bg" style="background-image: url(https://placeimg.com/800/800/nature)"></div>
            
            <div class="tl-year">
              <p class="f2 heading--sanSerif">2018</p>
            </div>
        
            <div class="tl-content">
              <h1 class="f3 text--accent ttu">Timeline 2018</h1>
              <ul class="text-align: justify;">
                <li>Kammavar USA was successfully registered as Non-Profit Organization.</li>
                <li>20 different local chapters has been formed across 20 states in america and canada</li>
                <li>First National Kammavar USA meet @Norfolk/Virginia Beach</li>
              </ul>
            </div>
        
          </div>
        </section>
        
        
<div class="container" *ngIf="showSpinner">
          <div class="row">    
              <div class="animationload">
                  <div class="osahanloading"></div>
              </div>
          </div>
</div>