<img src="../../../assets/matrimonal.jpg" style="width:100%; padding-top:90px;">
<div>
  <div class="left">
      <div class="bride-form">
          <h3>BRIDE / BRIDE-GROOM DETAILS</h3>
        <form>
          <table>
            <tr>
              <td> <label for="fname">First Name</label><input type="text" id="fname" name="firstname" placeholder="Your name.."></td>
              <td><label for="lname">Last Name</label><input type="text" id="lname" name="lastname" placeholder="Your last name.."></td>
              <td><label>Gender</label>
                <select id="gender" name="country">
                   <option value="Male">Male</option>
                   <option value="Female">Female</option>
                 </select></td>
            </tr>
            <tr>
              <td><label>Qualification</label><input type="text"></td>
              <td><label>Current Location</label><input type="text"></td>
              <td><label>Date of Birth</label><input type="date"></td>
            </tr>
            <tr>
              <td><label>Native Place</label><input type="text"></td>
              <td> <label>Zodiac Sign (Rassi)</label><input type="text" ></td>
              <td> <label>Birth Star (Natchatram)</label><input type="text" ></td>
            </tr>
            <td><label>Expectation on bride/bride groom</label><textarea style="width:100%; height:100px"></textarea></td>  
            <td><label>Upload Photo</label></td>          
            <tr>
              <td colspan="3" style="text-align:center"><input type="submit" value="Submit"></td>
            </tr>
            <tr>
            </tr>
          </table>
        </form>
      </div>
  </div>
 </div>
<div class="left">
  <div class="bride-list">
    <h3 style="text-align:center; color:white">Available Brides / Bride Groom List</h3>
      <div class="card">
          <img src="../../../assets/team-2.jpg" alt="Avatar" style="width:100%">
          <div class="bride">
            <h4><b>Deepika</b></h4> 
            <p>26, Software Engineer</p> 
            <p>New Jersey, USA</p>
          </div>
      </div>
  </div>
</div>




