<img src="../../../assets/matrimonal.jpg" style="width:100%; padding-top:90px;">
<div class="row content">
  <div class="col-lg-12 text-center" style="color:white">
    <h4 class="section-heading">Matrimonal Service</h4>
    <h5 class="section-subheading">Please post your details</h5>
    <!-- <button type="button" class="btn btn-success">Add Post</button> -->
    <button type="button" class="btn btn-success" (click)="postBride()">Show Add Form/Hide</button>
  </div>
</div>
<div>
  <div class="left">
      <div class="bride-form" *ngIf="showAddForm">
          <h3>BRIDE / BRIDE-GROOM DETAILS</h3>
          <form [formGroup]="brideForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="form-group">
                    <label for="title">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">first Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                      <div *ngIf="f.gender.errors.required">Gender is required</div>
                  </div>
              </div>
                <div class="form-group">
                      <label for="jobType">Qualification</label>
                      <input type="text" formControlName="qualification" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.qualification.errors }" />
                      <div *ngIf="submitted && f.qualification.errors" class="invalid-feedback">
                          <div *ngIf="f.qualification.errors.required">Qualification is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                          <label for="location">Location</label>
                          <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                          <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                              <div *ngIf="f.location.errors.required">location is required</div>
                          </div>
                      </div>
                  <div class="form-group">
                              <label for="dob">Date of Birth</label>
                              <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                  <div *ngIf="f.dob.errors.required">dob is required</div>
                              </div>
                  </div>
                  <div class="form-group">
                          <label for="native">Native Place</label>
                          <input type="text" formControlName="native" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.native.errors }" />
                          <div *ngIf="submitted && f.native.errors" class="invalid-feedback">
                              <div *ngIf="f.native.errors.required">native is required</div>
                          </div>
                  </div>
                  <div class="form-group">
                          <label for="zodiac">Zodiac Sign</label>
                          <input type="text" formControlName="zodiac" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zodiac.errors }" />
                          <div *ngIf="submitted && f.zodiac.errors" class="invalid-feedback">
                              <div *ngIf="f.zodiac.errors.required">zodiac is required</div>
                          </div>
                  </div>
                  <div class="form-group">
                          <label for="star">Birth Star</label>
                          <input type="text" formControlName="star" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.star.errors }" />
                          <div *ngIf="submitted && f.star.errors" class="invalid-feedback">
                              <div *ngIf="f.star.errors.required">Birth star is required</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="star">Upload Photo</label>
                          <input type="file" name="pic" accept="image/*" (change)="onSelectFile($event)" formControlName="photo" class="form-control"/>
                      </div>
                      <div class="form-group" style="width: 85%;">
                          <label for="star">Expectation</label>
                          <textarea formControlName="expectation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.expectation.errors }" ></textarea>
                          <div *ngIf="submitted && f.expectation.errors" class="invalid-feedback">
                              <div *ngIf="f.expectation.errors.required">Expectation is required</div>
                          </div>
                      </div>
              </div>
                <div class="form-group" style="text-align:center;width: 90%;padding-top: 16px;">
                    <button [disabled]="loading" class="btn btn-primary">Submit</button>
                </div>
            </form>
      </div>
  </div>
 </div>
<div class="left">
  <div class="bride-list">
    <h3 style="text-align:center; color:white">Available Brides / Bride Groom List</h3>

    <div class="row">
      <div *ngFor="let bride of brides| paginate: config" (click)="getBrideDetail(bride)">
          <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="bride-card">
              <img src="../../../assets/team-2.jpg" alt="Avatar" style="width:100%">
              <div class="bride">
                <h4><b>Deepika{{bride}}</b></h4> 
                <p>26, Software Engineer</p> 
                <p>New Jersey, USA</p>
              </div>
            </div>
      </div>
      
    </div>
    <div style="background: slategray; text-align: center; width:auto">
      <div class="has-text-centered">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
    </div>

      
  </div>

  
</div>


<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <div class="dialog-header" style="padding-left:15px; padding-right:15px">
          <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">
              <i class="fa fa-lg fa-times-circle" aria-hidden="true"></i>
          </button>
          <h4 class="modal-title">Bride/Bride Groom Detail</h4>
        </div>
        <div class="modal-body">
         <div class="table-responsive">          
            <table class="table">
                <tr>
                    <th>First Name</th>
                    <td>{{selectedBride?.firstName}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{selectedBride?.lastName}}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{selectedBride?.gender}}</td>
                </tr>
                <tr>
                    <th>Qualification</th>
                    <td>{{selectedBride?.qualification}}</td>
                </tr>
                <tr>
                    <th>Eligibility</th>
                    <td>{{selectedBride?.Eligibility}}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{selectedBride?.location}}</td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td>{{selectedBride?.dob}}</td>
                </tr>
                <tr>
                    <th>Native</th>
                    <td>{{selectedBride?.native}}</td>
                </tr>
                <tr>
                    <th>Zodiac Sign</th>
                    <td>{{selectedBride?.zodiac}}</td>
                </tr>
                <tr>
                    <th>Star</th>
                    <td>{{selectedBride?.star}}</td>
                </tr>
                <tr>
                    <th>Expectation</th>
                    <td>{{selectedBride?.expectation}}</td>
                </tr>
            </table>
            </div>
            </div>
    
      </div>
      
    </div>
    </div>




