body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("../../../assets/login.jpg");

    /*min-height: 380px;*/

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:140px;
    padding-bottom:100px;
    box-shadow: 10px 10px 8px 10px #888888;
}

/* Add styles to the form container */
.container {
    /* position: absolute;
    right: 0;
    margin: 20px; */
    max-width: 97%;
    padding: 16px;
    background-color: transparent;
    color:white;
    margin-left: 11vw;
    margin-right: 11vw;
}


.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
    margin-bottom: 1rem;
    width:40vw;
    padding-right:5vw;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}
button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}

//////

