<img src="../../../assets/emp.jpg" style="width:100%; padding-top:90px; height:500px">
<div class="header">
    <h2>EMPLOYMENT</h2>
    <span>Kammavar USA helps our fellow kammavar members find new job requirements and post new openings</span>
</div>
<div class="row">
      <div style="padding-left:140px">
          <span>
            <input class="basic-slide" id="job" type="text"/><label  for="Job Keyword">Job Keyword</label>
          </span>
          <span>
            <button style="height:48px;width:100px">Search</button>
          </span>
          <span style="padding-left:2vw">
            <button style="height:48px;width:auto" data-toggle="modal" data-target="#myModal">Add New Job</button>
          </span>
      </div>
</div>
<div class="forum" style="color:white; padding:40px;" >
    <h4 class="section-heading">Kammavar USA Employment</h4>
      <div class="mdl-card mdl-shadow--2dp demo-card-square" *ngFor="let job of jobList">
          <div class="mdl-card__title mdl-card--expand">
            <h4 class="mdl-card__title-text">{{job.Title}}</h4>
          </div>
          <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
              {{job.City}}  - {{job.State}} 
          </div>
          <div class="minilogo"></div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                Cancel
              <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
          </div>
       </div>
</div>


 
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="dialog-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Job Posting</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="title">Job Title</label>
              <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Job Title is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="location">Job Location</label>
              <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
              <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                  <div *ngIf="f.location.errors.required">Job Location is required</div>
              </div>
          </div>
          <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
            <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                <div *ngIf="f.contact.errors.required">Contact Number is required</div>
            </div>
        </div>
          <div class="form-group">
              <label for="description">Job Description</label>
              <textarea formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Job Description is required</div>
              </div>
          </div>
         
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Submit</button>
          </div>
      </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Post</button>
      </div> -->
    </div>
    
  </div>
</div>