<img src="../../../assets/emp.jpg" style="width:100%; padding-top:90px; height:500px">
<div class="header">
    <h2>EMPLOYMENT</h2>
    <span>Kammavar USA helps our fellow kammavar members find new job requirements and post new openings</span>
</div>
<div class="row">
      <div style="padding-left:140px">
          <span>
            <input class="basic-slide" id="job" type="text"/><label  for="Job Keyword">Job Keyword</label>
          </span>
          <span>
            <button style="height:48px;width:100px">Search</button>
          </span>
      </div>
</div>
<div class="job-result">

</div>
