<img src="../../../assets/emp.jpg" style="width:100%; padding-top:90px; height:500px">
<div class="header">
    <h2>EMPLOYMENT</h2>
    <span>Kammavar USA helps our fellow kammavar members find new job requirements and post new openings</span>
</div>
<div class="row">
      <div style="padding-left:140px">
          <span>
            <input class="basic-slide" id="job" type="text" (keyup)="triggerSearch(searchString)"
            [(ngModel)]="searchString" /><label  for="Job Keyword">Job Keyword</label>
          </span>
          <!-- <span>
            <button style="height:48px;width:100px" (click)="triggerSearch(searchString)">Search</button>
          </span> -->
          <span style="padding-left:2vw">
            <button style="height:48px;width:auto" data-toggle="modal" data-target="#myModal">Add New Job</button>
          </span>
      </div>
</div>
<div class="forum" style="color:white; padding:40px;" >
    <h4 class="section-heading">Kammavar USA Employment</h4>
    <div class="row" style="background:#1f2320">
      <div class="mdl-card mdl-shadow--2dp demo-card-square mouse"
       (click)="getJobDetail(job)" *ngFor="let job of jobList | paginate: config">
          <div class="mdl-card__title mdl-card--expand">
            <h4 class="mdl-card__title-text">{{job.title}}</h4>
          </div>
          <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
              {{job.city}}  - {{job.state}} 
          </div>
          <div class="minilogo"></div>
          <div class="mdl-card__supporting-text">
            <label>Date Posted:</label>{{job.datePosted}}
          </div>
       </div>
    </div>
    <div style="background: slategray; text-align: center; width:auto">
        <div class="has-text-centered">
          <pagination-controls [id]="config.id"
                               [maxSize]="maxSize"
                               [directionLinks]="directionLinks"
                               [autoHide]="autoHide"
                               [previousLabel]="labels.previousLabel"
                               [nextLabel]="labels.nextLabel"
                               [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                               [screenReaderPageLabel]="labels.screenReaderPageLabel"
                               [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                               (pageChange)="onPageChange($event)"></pagination-controls>
      </div>
      </div>
</div>


 
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="dialog-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Job Posting</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group">
              <label for="title">Job Title</label>
              <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Job Title is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="city">Job Location</label>
              <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">Job Location is required</div>
              </div>
          </div>
          <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
            <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                <div *ngIf="f.contact.errors.required">Contact Number is required</div>
            </div>
        </div>
          <div class="form-group">
                <label for="jobType">Job Type</label>
                <input type="text" formControlName="jobType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobType.errors }" />
                <div *ngIf="submitted && f.jobType.errors" class="invalid-feedback">
                    <div *ngIf="f.jobType.errors.required">Job Type is required</div>
                </div>
            </div>
            <div class="form-group">
                    <label for="eligibility">Eligibility</label>
                    <input type="text" formControlName="eligibility" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.eligibility.errors }" />
                    <div *ngIf="submitted && f.eligibility.errors" class="invalid-feedback">
                        <div *ngIf="f.eligibility.errors.required">Eligibility is required</div>
                    </div>
                </div>
            <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
            </div>
            <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required</div>
                    </div>
            </div>
            <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                        <div *ngIf="f.country.errors.required">Country is required</div>
                    </div>
            </div>
            <div class="form-group" style="width: 85%;">
                    <label for="description">Job Description</label>
                    <textarea formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Job Description is required</div>
                    </div>
                </div>
        </div>
          <div class="form-group" style="text-align:center;width: 90%;padding-top: 16px;">
              <button [disabled]="loading" class="btn btn-primary">Submit</button>
          </div>
      </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Post</button>
      </div> -->
    </div>
    
  </div>
</div>

<div class="container" *ngIf="showSpinner">
        <div class="row">    
            <div class="animationload">
                <div class="osahanloading"></div>
            </div>
        </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>


<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-lg">

          <div class="modal-content">
            <div class="dialog-header">
              <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Job Detail</h4>
            </div>
            <div class="modal-body">
             <div class="table-responsive">          
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <td>{{selectedJob?.Title}}</td>
                    </tr>
                    <tr>
                        <th>Job Type</th>
                        <td>{{selectedJob?.JobType}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{selectedJob?.Email}}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{selectedJob?.Contact}}</td>
                    </tr>
                    <tr>
                        <th>Eligibility</th>
                        <td>{{selectedJob?.Eligibility}}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{selectedJob?.City}}</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{selectedJob?.State}}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{selectedJob?.Country}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{selectedJob?.Description}}</td>
                    </tr>
                </table>
                </div>
                </div>
        
          </div>
          
        </div>
        </div>