.slider{
   width: 100%;
   padding:0;
}
agm-map {
    height: 30vw;
  }
#video-background {
      min-width: 100%; 
      min-height: 50%;
      width: auto; 
      height: auto;
      /* z-index: -100; */
}
article {
    /*  just a fancy border  */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 10px solid rgba(255, 255, 255, 0.5);
      margin: 10px;
}