.slider{
   width: 100%;
   padding:0;
}
agm-map {
    height: 50vh;
  }
#video-background {
      min-width: 100%; 
      min-height: 50%;
      width: auto; 
      height: auto;
      /* z-index: -100; */
}
article {
    /*  just a fancy border  */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 10px solid rgba(255, 255, 255, 0.5);
      margin: 10px;
}

// 

.Iam {
  //padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.Iam p {
  //height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #d3d816;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

// 
.white-border-button a {
	padding: 14px 20px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}

.pink-button a {
	padding: 14px 20px;
	background-color: #b94e5e;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}

.white-button a {
	padding: 14px 20px;
	background-color: #fff;
	border-radius: 30px;
	color: #121212;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}


.banner .col-md-8 {
	padding-left: 0px;
	padding-right: 5px;
}

.banner .col-md-4 {
	padding-right: 0px;
	padding-left: 5px;
}


.banner .left-banner-content {
	padding-top: 175px;
	padding-bottom: 175px;
	padding-left: 120px;
	text-align: left;
  //background-image: url(../img/banner-bg.png);
  background-color: #54ca77;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 680px;
	height: 680px;
}

.left-banner-content h6 {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

.left-banner-content h1 {
	font-size: 50px;
	//font-weight: 300;
	color: #fff;
	line-height: 70px;
}

.left-banner-content .line-dec {
	width: 60px;
	height: 3px;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #f4bc51;
}

.left-banner-content .white-border-button {
	margin-top: 52px;
}

.right-banner-content {
	padding: 100px 45px;
	background-color: #f4bc51;
	text-align: center;		
	min-height: 680px;
	height: 680px;
}

.right-banner-content h2 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-bottom: 5px;
}

.right-banner-content .line-dec {
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 30px auto;
}

.right-banner-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}

.right-banner-content em {
	font-style: normal;
	font-weight: 700;
}

.right-banner-content p {
	font-style: italic;
	font-size: 13px;
	color: #fff;
}

.right-banner-content .social-icons {
	margin-top: 40px;
	padding: 0;
	list-style: none;
}

.right-banner-content .social-icons li {
	display: inline-block;
	margin: 0px 3px;
}

.right-banner-content .social-icons li a {
	width: 36px;
	height: 36px;
	text-align: center;
	display: inline-block;
	line-height: 36px;
	background-color: #fff;
	border-radius: 50%;
	transition: all 0.5s;
	color: #f4bc51;
	font-size: 17px;
}

.right-banner-content .social-icons li a:hover {
	background-color: #d59b2b;
}

/////
.mapouter{
  display: flex;
  text-align:center;
  height:500px;
  width:100%;
  position: relative;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
}
