 <!--==========================
      Members Directory Section
    ============================-->

  <div id="members_page" class="section-bg wow fadeInUp">
      <div class="container">
      <h3>Member Details</h3>
      <p>
         You can search and find our registered members detail here.
      </p>
      <ag-grid-angular         
         style="width:100%; height:500px;"
         class="ag-theme-balham"
         [enableSorting]="true"
         [enableFilter]="true"
         [rowData]="rowData"
         [columnDefs]="columnDefs"
         [gridOptions]="gridOptions"
         >
        
        </ag-grid-angular>
        
      </div>  
          
      

            
      
          
            
  </div>
