li:hover { 
    background-color: gray;
}
li{
    color:black;
}
.text-muted{
    color:black;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }

img {  
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.header{
    background-color: transparent;
    background-image: url(../../../assets/call-to-action-bg.jpg);
    padding-top:30px;
    padding-bottom:30px;
}
.content{
    background-color: transparent;
    background-image: url(../../../assets/call-to-action-bg.jpg);
    padding-top:30px;
    padding-bottom:30px;
}
h4 h5{
    color:white;
    font-weight:bold;
}
.post{
    background-color: white;
    color:black
}
.post-list{
    padding:10px;

}
.post-list:nth-of-type(odd) {
    animation: 1s ease-out 0s 1 slideInFromLeft;

    right:0;
}
.post-list:nth-of-type(even) {
    animation: 1s ease-out 0s 1 slideInFromRight;
}
.dialog-header {
    -ms-flex-align: start;
    float: left;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
    margin-bottom: 1rem;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}
button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
textarea{
    min-height:15vw;
    max-height: 30vw;
    overflow:scroll;
}
