<div  style="background:white;padding-top:120px;color:black">
    <div class="row" style="color:black">
      <div class="col-lg-12 text-center" style="color:black">
        <h2 class="section-heading">Finance Service</h2>
        <h3 class="section-subheading">Financial Discussion Forum</h3>
      </div>
    </div>
    <div class="row text-center" style="padding:55px">
      <div class="col-md-3" style="color:black">
                <img src="../../../assets/bitcoin.jpg" style="height: 145px">
        <h4 class="service-heading">Crypto Currency</h4>
      </div>
      <div class="col-md-3" style="color:black">
                 <img src="../../../assets/stock.jpg" style="height: 145px">
        <h4 class="service-heading">Stocks</h4>
      </div>
      <div class="col-md-3" style="color:black">
                <img src="../../../assets/mutualfund.png" style="height: 145px">
        <h4 class="service-heading">Mutual Funds</h4>
      </div>
      <div class="col-md-3" style="color:black">
          <img src="../../../assets/realestate.jpg" style="height: 145px">
        <h4 class="service-heading">Real Estate</h4>
      </div>
    </div>
</div>
<div class="row content">
    <div class="col-lg-12 text-center" style="color:white">
      <h4 class="section-heading">Financial Discussion, Ideas & Success Stories</h4>
      <h5 class="section-subheading">Post your financial related ideas and success stories for the benefit of our community people</h5>
      <!-- <button type="button" class="btn btn-success">Add Post</button> -->
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Post</button>
    </div>
</div>
<div class="forum" style="color:white; padding:40px;">
    <h4 class="section-heading">Kammavar USA FInancial Discussion Timeline</h4>
    <div class="post-list" *ngFor="let post of posts| paginate: config">
      <div class="media border p-3 post">
        <div class="media-body">
          <h4>{{post.firstName}} <small><i>Posted on {{post.datePosted}}</i></small></h4>
          <p>{{post.message}}</p>      
        </div>
      </div>
  </div>

  <div class="container" style="background: slategray; text-align: center;">
    <div class="has-text-centered">
      <pagination-controls [id]="config.id"
                           [maxSize]="maxSize"
                           [directionLinks]="directionLinks"
                           [autoHide]="autoHide"
                           [previousLabel]="labels.previousLabel"
                           [nextLabel]="labels.nextLabel"
                           [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                           [screenReaderPageLabel]="labels.screenReaderPageLabel"
                           [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                           (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
  </div>

</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="dialog-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Finanal Post</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
          </div>
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required">User Name is required</div>
            </div>
        </div>
          <div class="form-group">
              <label for="username">Message</label>
              <textarea formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" ></textarea>
              <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                  <div *ngIf="f.message.errors.required">Message is required</div>
              </div>
          </div>
         
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Post</button>
          </div>
      </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Post</button>
      </div> -->
    </div>
    
  </div>
</div>