 <!--==========================
      RSS Feed Section
    ============================-->
    <main id="main">
      <div id="rssfeed" class="section-bg wow fadeInUp">
          <div class="container">
      
            <div class="section-header">
              <h3>News</h3>              
            </div>
            <div>
                <button (click)="refreshFeed()" class="refresh-btn">Reload</button>
            </div>
            <div class="row">                
                <div class="col-md-4">    
                  <app-feed-card *ngFor="let feed of feeds1" [feed]="feed" ></app-feed-card> 
                </div> 
                <div class="col-md-4">                
                  <app-feed-card *ngFor="let feed of feeds2" [feed]="feed" ></app-feed-card>               
                </div>
                <div class="col-md-4">                
                  <app-feed-card *ngFor="let feed of feeds3" [feed]="feed" ></app-feed-card>               
                </div>                                               
            </div>
            <div class="row">                
                <div class="col-md-4">    
                    <app-feed-card *ngFor="let feed of feeds4" [feed]="feed" ></app-feed-card> 
                </div> 
                <div class="col-md-4">                
                    <app-feed-card *ngFor="let feed of feeds5" [feed]="feed" ></app-feed-card>               
                </div>
                <div class="col-md-4">                
                    <app-feed-card *ngFor="let feed of feeds6" [feed]="feed" ></app-feed-card>               
                </div>                                           
             </div>
            
            

          </div>
            
        </div><!-- #rssfeed -->
    </main>