.panel-default {
  border-color: #ddd;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
  padding: 15px;
}
.text-center {
  text-align: center;
}



.input-group-addon {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
}


//
.form-control {
  // display: block;
  // width: 100%;
  // padding: .375rem .75rem;
  // font-size: 1rem;
  // line-height: 1.5;
  // color: #495057;
  // background-color: #fff;
  // background-clip: padding-box;
  // border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
  margin-bottom: 1rem;
  margin-left:10%;
 // width:40%;
}